{% extends "base.html" %}

{% block content %}

<div class="container">

<div class="sidebar">

<div class="menu-title">Menu</div>

<a href="/" class="task">Trang chủ</a>

<a href="/products/manage/" class="task active">
Quản lý sản phẩm
</a>

</div>


<div class="product-area">

<div class="hero-banner">

<div class="hero-text">
<h1>Xóa sản phẩm</h1>
<p>Confirm delete product</p>
</div>

</div>


<div class="add-product-card">

<h3>Bạn có chắc muốn xóa sản phẩm này?</h3>

<br>

{% if product.image %}
<img src="{{ product.image.url }}" style="width:150px;border-radius:10px;">
{% endif %}

<h3>{{ product.name }}</h3>

<p class="price">{{ product.price }} VND</p>

<form method="POST">

{% csrf_token %}

<button type="submit" class="btn">
Xóa sản phẩm
</button>

<a href="/products/manage/" class="btn cancel-btn">
Hủy
</a>

</form>

</div>

</div>

</div>

{% endblock %}